# Dependencies
node_modules/

# Build
dist/
.wrangler/

# Environment
.env
.env.local
.dev.vars

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

### Editor ###
.vscode/*
.history/
*.vsix
.ionide
.vscode/*.code-snippets
*.code-workspace
.idea/
